* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background: #f5f7fa;
  font-family: "Poppins", sans-serif;
}
.logoDiv {
  width: 150px;
  height: 50px;
  margin: auto;
}
.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.signup-box {
  max-width: 400px;
  margin: 50px auto;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.signup-box h2 {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
}
