* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #dcdbdb;
}
.parent {
  display: flex;
}
.profileDetails {
  height: 100vh;
  width: 25vw;
}
.coverImg {
  height: 28vh;
  width: 100%;
  position: relative;
}
.coverImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.profileImg {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid rgb(0, 55, 255);
  position: absolute;
  bottom: -30px;
  left: 30px;
}
.profileImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.container {
  height: auto;
  width: 50vw;
  background-color: #dcdbdb;
  margin: auto;
}
.postsInput {
  height: 28vh;
  background-color: #dcdbdb;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  height: auto;
}
.descriptionInput {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.descriptionLabel {
  color: rgb(0, 72, 255);
  font-size: 14px;
  margin-left: 15px;
}
#userPostDescription , #userPostUrl {
  width: 100%;
  height: 30px;
  border-radius: 30px;
  padding-left: 15px;
  border: none;
}
#postBtn {
  background-color: rgb(0, 72, 255);
  color: white;
  border: none;
  padding: 7px 30px;
  border-radius: 20px;
}
.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  border-top: 1px solid gray;
  margin: 30px 0;
  border-radius: 10px;
}
.postdescriptionOptions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}
.postdescription {
  font-size: 14px;
}
.postOptions {
  height: auto;
  width: auto;
  box-shadow: 0 0 5px black;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: 10px;
  display: none;
}
.postOptions button {
  background-color: transparent;
  border: none;
  color: rgb(0, 72, 255);
  font-weight: 600;
}
.postOptions button:hover {
  color: rgb(2, 52, 178);
  cursor: pointer;
}
.postImage {
  width: 100%;
  height: auto;
}
.postImage img {
  width: 100%;
  /* height: auto; */
}